<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForEachThymeleaf</title>
</head>
<body>

<h1>Example of iterator for-each thymeleaf</h1>

<h1>List values :<span th:text="${names}"></span></h1>
<ul>
    <li th:each="n:${names}">
        <span th:text="${n}"></span>
    </li>
</ul>

<h2>Uses of Status</h2>
<h3>Indexing</h3>
<ul>
    <li th:each="n,status:${names}">
        <span th:text="${status.index}+' '+${n}"></span>
    </li>
</ul>
<h3>Styling</h3>
<ul>
    <li th:each="n,status:${names}">
        <span th:style="${status.odd}? 'font-weight:bold':'' " th:text="${status.index}+' '+${n}"></span>
    </li>
</ul>
<ul>
    <li th:each="n,status:${names}">
        <span th:style="${status.odd}?'color:red;font-weight:bold':'' " th:text="${status.index}+' '+${n}"></span>
    </li>
</ul>
</body>
</html>